.header-container{
	width: 1500px;
	background: #76c7c1;
	height: 160px;
	background:;
	padding-bottom:none;
	
}

.header-top{
	width: 1172px;
	height: 80px;
	padding-left: 160px;
	padding-right: 160px;

}
.header-top-left{
	float: left;
	width: 320px;

	padding-top: 21px;



}

.header-top-right{
	float: right;
	width: 852px;

	padding-top: 35px;

}

.header-bottom{
	
	width: 1500px;


}

.logo{
	width: 113px;
	height: 35px;

}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
 
}
.menu li{
	display: inline;
	margin-right: 40px;	

}
.search-icon{
	width: 14px;
	height: 15px;
	

}

.header-bottom{
	width: 1180px;
	height: 75px;
	padding-left: 160px;
	padding-right: 160px;
	background: #ececec;

}
.header-bottom-left{
	color: #8f9897;
	line-height: 75px;
	font-size: 18px;
	float:left;
	
	width: 320px;

}

.header-bottom-right{
	
	width: 852px;
	float: right;
	color: #8f9897;
	line-height: 75px;
	text-align: right;

}



.body-container{
	background: #f3f3f3;
	margin-top: 20px;
	width: 1340px;
	padding-left: 160px;
	padding-right: : 160px;
	padding-top: 54px;
}

.body-header{
	width: 1182px;
}

.left{
	float: left;
	
	width: 276px;
	background: #f3f3f3;

}

.r{
	float: right;
	height: 400px;
	width: 256px;
	background: black;



}

.main{
	float: left;
	
	width: 560px;
	background: #f3f3f3;
	padding-right: 90px;

}

.col-3-left{
	width: 1182px;
	clear: fixed;
	padding-top: 35px;
	height: 440px;

}

.main-content-wrapper{
	padding-left:80px;
	background: #f3f3f3;
}

.meters{
	padding-top: 60px;
	padding-left:;
	width:560px;
}

.label1{
	padding-right: 45px;
	padding-left: 15px;
	padding-top: 25px;
	font-weight: bolder;
	font-size: 18px;
}

.label2{
	
	font-weight: bolder;
	font-size: 18px;
}

.label3{
	padding-left: 50px;
		font-weight: bolder;
	font-size: 18px;

}


.label4{
	font-weight: bolder;
	font-size: 18px;
	padding-left: 50px;
}

.scale2{
	
	margin-bottom: -2px;
}

.team{
	height: 477px;
	background:#ececec;
	padding-top: 0px;
	margin-top: -2px;
	width: 1500px;
}
.class{
	width: 1
}