.header-container{
	width: 1500px;
	background: #76c7c1;
	height: 160px;
	background:;
	padding-bottom:none;
	
}

.header-top{
	width: 1172px;
	height: 80px;
	padding-left: 160px;
	padding-right: 160px;

}
.header-top-left{
	float: left;
	width: 320px;

	padding-top: 21px;



	width: 852px;
	float: right;
	color: #8f9897;
	line-height: 75px;
	text-align: right;

}



.body-container{
	background: #f3f3f3;
	margin-top: 20px;
	width: 1340px;
	padding-left: 160px;
	padding-right: : 160px;
	padding-top: 54px;
}

.body-header{
	width: 1182px;
}

.left{
}