.menu li a{
	
	text-decoration:none;
	color: white;
	font-size: 18px;
	padding:2px;
}

.menu li:hover{
	background-color: #63a19e;
}

.header-bottom-right a{
	text-decoration: none;
	color: #8f9897;

}
.body-header{
	word-wrap: break-word;
}
.body-header h2{
	color: #e05443;
	font-weight: normal;
	padding-bottom: 26px;



}

.body-header p{
	color: #868c8c;

	}
.left{
	color: #868c8c;
}

.left h2{
	font-weight: normal;
}

.left ul{
	padding-top:35px; 

}

.left li{
	text-decoration:none;
	
	list-style-type: none;

	
}

.main{
	color: #868c8c;
}

.client{
	font-size: 20px;
}

.r{
	color: #868c8c;
}
.con i{
	font-size: 21px;
}

.footer-mid a{
	color:white;
}

a{
	text-decoration: none;
}
.footer-mid th{
	font-size: 21px;
	color: #467974;
}
.blog{
	font-size: 21px;
}

.date{
	color: #467974;
}
.bloginfo a{
	color: white;
}
.clients-header{
	

	font-family: Times New Roman;
	color: #727272;
	font-size: 20px;
	font-weight: bold;
}