.app{
	width: 474px;
	margin: 0 auto;
	height: 610px;
	position: relative;
	overflow-y: hidden;
	border: 5px solid black;
	
}

.scoreboard{
	position: absolute;
	z-index: 100;
}

.car{
	position: absolute;
	background-size: contain;
	z-index: 15;

}

.app-wrapper{
	position: absolute;
	background-repeat: repeat-y;
	z-index: 10;
}

.game-over{
	position: absolute;
	z-index: 19;
}

.restart{
	position: absolute;
	z-index: 19;
}

.game-name{
	position: absolute;
	z-index: 19;
}
.new-game{
	position: absolute;
	z-index: 19;
}