.container{
	width:93.75em;
}

.image{
	width: 100%;
	height:100%;
}
.header-container{
	width: 100%;
	background: #76c7c1;
	height: 160px;
	margin: 0 auto;
	background:;
	padding-bottom:5px;
	
}

.header-top{
	width: 78%;
	
	padding-left: 160px;
	padding-right: 160px;

}
.header-top-left{
	float: left;
	width: 27.3504%;

	padding-top: 21px;



}

.header-top-right{
	float: right;
	padding-top: 30px;
	height:;
	-bottom: 23px;

}

.header-bottom{
	
	width: 93.5em;


}

.logo{
	width: 35.3125%;
	

}

.menu{
  list-style-type: none;
  margin: 0;
  padding: 0;
 
}

.menu ul{
	float: right;
}

.menu li{
	display: inline;
	margin-left: 40px;	
	font-size: 20px;


}
.search-icon{
	width: 14px;
	height: 15px;
	

}

.header-bottom{
	width: 1180px;
	height: 75px;
	padding-left: 160px;
	padding-right: 160px;
	background: #ececec;

}
.header-bottom-left{
	color: #8f9897;
	line-height: 75px;
	font-size: 18px;
	float:left;
	
	width: 320px;

}

.header-bottom-right{
	
	width: 852px;
	float: right;
	color: #8f9897;
	line-height: 75px;
	text-align: right;

}



.body-container{
	background: #f3f3f3;
	width:100%
	margin: 0 auto;

}

.project-ss{

	width:78%;
	height:700px;
	background-image: url("../images/pss.png");
	background-repeat: round;
	margin: 0 auto;
	position: relative;
	margin-top: 14px;
}

.left{
	width: 4.2735%;
	height:60px;
	background-image: url("../images/left.png");
	background-repeat: round;

	position: absolute;
	top:300px;
}

.right
{

	width: 4.2735%;
	height:60px;
	background-image: url("../images/right.png");
	background-repeat: round;
	position: absolute;
	top:300px;
	right: 0px;

}

.blog-container{
	width:78%;
	margin: 0 auto;
	background: #f3f3f3;
	overflow: auto;
	
}
.index1{
	width: 19.3333%;
	margin:0 auto;
}


.blog-container{
	width:78%;
	margin: 0 auto;
	background: #f3f3f3;
	overflow: auto;
	
}

.blog-ss{
	width: 74.8717%;
	height: 568px;
	background-image: url("../images/blog-ss.png");
	background-repeat:round;
	
	position: relative;
	float: left;
	

}
.slidebar{
	width: 24%;
	
	height: 568px;
	float: right;


	
}
.blog-container{
	width:78%;
	margin: 0 auto;
	background: #f3f3f3;
}

.slidebar-ss{
	width: 92.1768%;
	margin-left: 20px;
	
	background-image: url("../images/sss.png");
	background-repeat: round;
	height: 202px;
	position: relative;
	margin-bottom: 80px; 
}

.left1{
	background-image: url("../images/left1.png");
	background-repeat: round;
	width:14.1760%;
	height:40px;
	position: absolute;
	left: 0;
	top: 80px;
}

.right1{
	background-image: url("../images/right1.png");
	background-repeat: round;
	width:14.1760%;
	height:40px;
	position: absolute;
	right: 0;
	top: 80px;
}

.gallery{
	width:22.7232%;
	height:69px;
	background-image: url("../images/gallery.png");
	background-repeat: round;
	margin-left:23px; 
	float: left;
	margin-bottom: 20px;

}

.slidebar-gallery{
	margin-right: 23px;

}
.our-team-container{
	background:#f3f3f3;
	height: 600px;
	margin-top: -7px;
	
	width: 100%;

}


.our-team-body{
	width:78%;
	padding-top: 80px; 
	margin:0 auto;
}

.team{
	width: 25%;
	height: 340px;
	
	
	float: left;
	position: relative;


}


.details{
	background:#f8f8f8;
	width: 92%;
	height: 250px;
	color: #7a8a89;
	
	float: left;
	padding-top: 52px;

}
.name{
	position: absolute;
	left:30px;
	bottom: 5px;
	width: 67.6818%;
	height: 55px;
	background-image:url("../images/readmore.png");
	background-repeat: round;
	font-size: 18px;
	color:white;
	float:left;
}


button{
	border:none;
	
}
.icon{
	width: 58px;
	height: 55px;
	margin-bottom: 25px;
	margin: 0 auto;
}

.details p{
	width: 76%;
	margin:0 auto;
	margin-top: 37px;

}

.details h3{
	text-align: center;

}
label{
	display:none ;
	
}

#toggle{
	display: none;
	float: right;
}

.accordion-container{
	width:100%;
	background:#f3f3f3;

}

.accordions{
	width:78%;
	background:#f3f3f3;
	margin: 0 auto;
	overflow: auto;

}

#accordion{
	width: 75.3589%;
	float:left;

}


#accordion section p{
	display:none;
	text-align: center;

}

#accordion section a{
	
	text-decoration: none;

}


#accordion section:target p{
	display: block;

}


#accordion-mini{
	width:24%;
	float: right;
}

#accordion-mini section p{
	display:none;
	text-align: center;

}

#accordion-mini section a{
	
	text-decoration: none;

}


#accordion-mini section:target p{
	display: block;


}

#accordion-mini section:target{
	background:#ffffff;
	

}





section{
	
	margin-bottom: 5px;
	background:#f8f8f8; 
}

section h2{
	color: #7d8788;
	padding:20px;
}


.tab-container{
	width: 100%;

}


.footer-container{
	margin-top: -5px;
	width: 100%;
	height: 310px;
	background: #76c7c1;
	padding-top: 26px;
	color: white;

}

.footer-top{
	width: 78%;
	margin: 0 auto;
}
.footer-left{
	height: 200px;
	width: 33.3333%;

	float: left;
}

.footer-mid{
	height: 200px;
	width: 14.7008%;
	background:;
	float: left;
}

.footer-right{
	height: 206px;
	width: 35.3846%;

	float: left;
}

.descrip{
	padding-top: 29px;

}
.contact{
	padding-top: 35px;
}

.blogimg{
	width: 21%;
	height: 70px;

	float: left;
}
.blog1{
	width:82%;
	height:70px;
	padding-top: 29px;

}
.bloginfo{
	width:77%;
	height: 70px;
	padding-left:3px;

	float: left;

}
.footer-bottom{
	height: 50px;
	width: 100%;
	background: #6bb4ad;
	padding-top: 26px;
	color: white;

}

.actual-footer{
	width: 78%;
	margin: 0 auto;

}
.icon-f{
	width: 42px;
	height: 24px;
	float: left;
}
.social{
	float: right;
}

@media only screen and (max-width: 768px){
	.container{
		width: 48em;
		margin: 0;
	}

	.body-container{
		margin-top: -13px;
	}
	.header-container{
		width: 100%;
	}

	.blog-ss{
		width: 100%;
	}

	.scale{
		display: none;
	}
	.header-bottom{
		display: none;
	}
	.arr{
		display: none;
	}
	label{
		display: block;
		cursor:pointer
		width:160px;
	}
	.header-top-right{
		float:none;
		width: 78px;

}
	.menu{
		display: none;
		float: none;
		text-align: center;

	}
	.header-container{
		overflow: auto;
		height: auto;
		width:auto;
	}
	.menu li a{
		display: block;
		float: none;
		margin: 0px;
	}
	.menu li{
		background: red;
	}

	#toggle:checked + .menu{
		display: block;
	}
	.header-top{
		width: auto;
	}
	.logo{
		width: 100px;
		height: 50px;
		float: right;
		margin-right: 30px; 
	}

	.slidebar{
		display: none;
	}

	.our-team-container{
		width:97%;
		padding:20px; 
		height: auto;

	}

	.our-team-body{
		overflow: auto;
	}
	.team{
		float: left;
		width: 272px;
	    height: 340px;
	}

	#accordion-mini{
		display: none;
	}
	.footer-container{
		display: none;

	}
}



@media only screen and (max-width: 375px)
{
	.container{
		width: 23.4375em;
		margin: 0;
	}

	.body-container{
		margin-top: -13px;
	}
	.header-container{
		width: 100%;
	}

	.scale{
		display: none;
	}
	.header-bottom{
		display: none;
	}
	.arr{
		display: none;
	}
	.dotline{
		display: none;
	}
	label{
		display: block;
		cursor:pointer;
	}
	.header-top-right{
		float:none;

}
	.menu{
		display: none;
		float: none;
		text-align: center;

	}
	.header-container{
		overflow: auto;
		height: auto;
		width:auto;
	}
	.menu li a{
		display: block;
		float: none;
		margin: 0px;
	}
	.menu li{
		background: red;
	}

	#toggle:checked + .menu{
		display: block;
	}
	.header-top{
		width: auto;
	}
	.logo{
		width: 100px;
		height: 50px;
		float: right;
		margin-right: 30px; 
	}

	.slidebar{
		display: none;
	}

	.our-team-container{
		width:89.5%;
		padding:20px; 
		height: auto;
	}

	.our-team-body{
		overflow: auto;
	}
	.team{
		display: block;
		float: none;
		width: 295.5px;
	height: 340px;
	}

	.blog-ss{
		width: 100%;
	}

	#accordion-mini{
		display: none;
	}
	.footer-container{
		display: none;

	}
}









