*{
    box-sizing: border-box;
    margin: 0px;
    background: #043a4a;
}

#myCanvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: #043a4a;
}