#container {
  width: 1200px;

  margin: 0 auto;
  margin-top: 20px;
  overflow: auto;
}

#config {
  padding-top: 50px;
  margin-left: 850px;
}

#table {
  display: block;

  margin-top: 20px;
}

#faster {

  margin-top: 20px;
}
#download {
  margin-top: 70px;
  padding: 7px;
}

#runBest {
  margin-top: 70px;
  margin-left: 55px;
  padding: 7px;
}


tr {
      height: 40px;
}

#rate{
    height: 40px;;
}